<!DOCTYPE html>

<html lang="en" ng-app="blogApp">

<head>

    <title>iParty</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href='@routes.Assets.versioned("css/stylesheets/bootstrap.css")'  media="screen"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("css/stylesheets/screen.css")' />


    <link rel="stylesheet" type="text/css" href="css/stylesheets/responsive.css"/>

    <script src='@routes.Assets.versioned("js/libs/jquery-1.10.2.min.js")' ></script>
    <script src='@routes.Assets.versioned("js/libs/angular.min.js")' ></script>
    <script src='@routes.Assets.versioned("js/libs/angular-route.min.js")' ></script>
    <script src='@routes.Assets.versioned("js/libs/angular-resource.min.js")' ></script>
    <script src='@routes.Assets.versioned("js/libs/angular-cookies.min.js")' ></script>
    <script src='@routes.Assets.versioned("js/app.js")' ></script>
    <script src='@routes.Assets.versioned("js/controllers.js")' ></script>
    <script src='@routes.Assets.versioned("js/services.js")' ></script>


    <script type="text/javascript" src='@routes.Assets.versioned("js/jquery.validate.js")'></script>

    <script type="text/javascript" src='@routes.Assets.versioned("js/jquery.mask.js")'></script>

    <script type="text/javascript" src='@routes.Assets.versioned("js/main.js")'></script>

</head>

<body>
<div ng-view  id="container" class="container"></div>
</body>

</html> 