<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>iParty</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">

        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/stylesheets/bootstrap.css")">

        <!--Caracteres OpenSans-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>

        <!--Screen-->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/stylesheets/screen.css")"/>

        <!--Responsive CSS-->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/stylesheets/responsive.css")"/>

        <!--AngularJS-->
        <script src='@routes.Assets.versioned("js/libs/angular.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("js/libs/angular-resource.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("js/libs/angular-route.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("js/libs/jquery-1.10.2.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("js/libs/bootstrap.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("js/loginController.js")' type="text/javascript"></script>

    </head>
    <body>
        <div data-ng-app="myApp">
            <script type="text/javascript">
              var app = angular.module('myApp', []);
              </script>
            <div data-ng-controller="loginController">
                <form name="form" ng-submit="doLogin(email,pass)" role="form">
                    <input type="text" name="email" id="email" class="form-control" ng-model="email" required />
                    <input type="password" name="pass" id="pass" class="form-control" ng-model="pass" required />
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <ul>
                    <li data-ng-repeat="result in results">
                        {{ result }}
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>