<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>iParty</title>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">

    <!--Bootstrap CSS-->
	<link rel="stylesheet" href="@routes.Assets.versioned("css/stylesheets/bootstrap.css")">

    <!--Caracteres OpenSans-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>

    <!--Screen-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/stylesheets/screen.css")"/>

    <!--Responsive CSS-->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/stylesheets/responsive.css")"/>

</head>
<body class="body-img">

	<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
                <div class="login-cad-container">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="#" class="active" id="login-form-link"><span>Login</span></a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#" id="register-form-link"><span>Registrar</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="login-form"  name="loginForm" ng-controller="iPartyControllers" ng-submit="vm.login()" role="form" style="display: block;">
                                        <div class="form-group">
                                            <input type="text" name="username" id="username" ng-model="loginForm.user" tabindex="1" class="form-control login-input-group" placeholder="Usuario" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="password" ng-model="loginForm.pass" tabindex="2" class="form-control login-input-group" placeholder="Senha">
                                        </div>
                                        <div class="form-group text-center">
                                            <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                            <label for="remember" class="basic-text"> Lembrar</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-submit" value="Entrar">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center">
                                                        <a href="javascript:void(0);" tabindex="5" class="forgot-password basic-text">Esqueceu a Senha?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form id="register-form" action="login-cad.html" method="get" role="form" style="display: none;">
                                        <div class="form-group">
                                            <input type="text" name="username" id="cad_username" tabindex="1" class="form-control" placeholder="Usuario" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="cad_password" tabindex="2" class="form-control" placeholder="Senha">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password_confirm" id="password_confirm" tabindex="3" class="form-control" placeholder="Confirmar Senha">
                                        </div>
                                        <div class="form-group">
                                            <input type="name" name="first_name" id="first-name" tabindex="4" class="form-control" placeholder="Primeiro Nome" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="name" name="last_name" id="last-name" tabindex="5" class="form-control" placeholder="Sobrenome" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" tabindex="6" class="form-control" placeholder="Email" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="name" name="fantasy_name" id="fantasy_name" tabindex="7" class="form-control" placeholder="Nome Fantasia" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="name" name="tel" id="tel" tabindex="8" class="form-control" placeholder="Telefone" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="name" name="cnpj" id="cnpj" tabindex="9" class="form-control" placeholder="CNPJ" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="name" name="cep" id="cep" tabindex="10" class="form-control" placeholder="CEP" value="">
                                        </div>
                                        <div class="form-group">
                                            <select tabindex="12" class="form-control states">
                                                <option value="">Selecione seu Estado</option>
                                                <option value="AC">Acre</option>
                                                <option value="AL">Alagoas</option>
                                                <option value="AP">Amapá</option>
                                                <option value="AM">Amazonas</option>
                                                <option value="BA">Bahia</option>
                                                <option value="CE">Ceará</option>
                                                <option value="DF">Distrito Federal</option>
                                                <option value="ES">Espirito Santo</option>
                                                <option value="GO">Goiás</option>
                                                <option value="MA">Maranhão</option>
                                                <option value="MS">Mato Grosso do Sul</option>
                                                <option value="MT">Mato Grosso</option>
                                                <option value="MG">Minas Gerais</option>
                                                <option value="PA">Pará</option>
                                                <option value="PB">Paraíba</option>
                                                <option value="PR">Paraná</option>
                                                <option value="PE">Pernambuco</option>
                                                <option value="PI">Piauí</option>
                                                <option value="RJ">Rio de Janeiro</option>
                                                <option value="RN">Rio Grande do Norte</option>
                                                <option value="RS">Rio Grande do Sul</option>
                                                <option value="RO">Rondônia</option>
                                                <option value="RR">Roraima</option>
                                                <option value="SC">Santa Catarina</option>
                                                <option value="SP">São Paulo</option>
                                                <option value="SE">Sergipe</option>
                                                <option value="TO">Tocantins</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="name" name="city" id="city" tabindex="11" class="form-control" placeholder="Cidade" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="name" name="adress" id="adress" tabindex="13" class="form-control" placeholder="Endereço" value="">
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-submit" value="Registrar">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>

  <div ng-view></div>

</body>
</html>